<div class="header">
	<h3 style="text-align: center">Congratulations</h3>
</div>

<div class="list">
	<div class="item"
		style="font-size: 76px; border: 0px; text-align: center;">
		<p style="font-weight: bold;white-space: normal;">You are successfully Save Address
		</p>
	</div>
	<div style="text-align: center">
		<button class="button button-clear"
			style="margin-top: 3%; background-color: #0074c8; color:white"
			ng-click="changeTab('addressList')">Ok</button>
	</div>
</div>