<ion-view>
<ion-content has-header="true">
<div class="list" style="background color:gray">
	<div class="item" style="background-color:ghostWhite;border-width:0px">
		<div class="row">
			<div class="col" style="text-align:left">
				<span class="ion-ionic" style="color:green;margin-right:3px;margin-left:-7%"></span>
				Mparghretic Classic Pizza
				
			</div>
			<div class="col" style="text-align:right;font-size:14px">
				RS.74
			</div>
		</div>
		<div class="row">
			<div class="col" style="text-align:left;font-size:10px">
				Tomato pulp,Fresh Mozzerella<br>
				Basesl and mozzellz
			</div>
			<div class="col" style="text-align:right">
				<i  class="pull-left icon ion-ios-minus-outline" style="font-size:1.3em;"></i>
				<span  style="font-size:1.2em;">1</span> 
				<i  class=" pull-right icon ion-ios-plus-outline" style="font-size:1.3em;"></i>
			</div>
		</div>

		</div>
		<div class="item" style="background-color:ghostWhite;border-width:0px">
		<div class="row">
			<div class="col" style="text-align:left">
				<span class="ion-ionic" style="color:green;margin-right:3px;margin-left:-7%"></span>
				Mparghretic Classic Pizza
				
			</div>
			<div class="col" style="text-align:right;font-size:14px">
				RS.74
			</div>
		</div>
		<div class="row">
			<div class="col" style="text-align:left;font-size:10px">
				Tomato pulp,Fresh Mozzerella<br>
				Basesl and mozzellz
			</div>
			<div class="col" style="text-align:right">
				<i  class="pull-left icon ion-ios-minus-outline" style="font-size:1.3em;"></i>
				<span  style="font-size:1.2em;">1</span> 
				<i  class=" pull-right icon ion-ios-plus-outline" style="font-size:1.3em;"></i>
			</div>
		</div>

		</div>
		<div class="item" style="background-color:ghostWhite;border-width:0px">
		<div class="row">
			<div class="col" style="text-align:left">
				<span class="ion-ionic" style="color:green;margin-right:3px;margin-left:-7%"></span>
				Mparghretic Classic Pizza
				
			</div>
			<div class="col" style="text-align:right;font-size:14px">
				RS.74
			</div>
		</div>
		<div class="row">
			<div class="col" style="text-align:left;font-size:10px">
				Tomato pulp,Fresh Mozzerella<br>
				Basesl and mozzellz
			</div>
			<div class="col" style="text-align:right">
				<i  class="pull-left icon ion-ios-minus-outline" style="font-size:1.3em;"></i>
				<span  style="font-size:1.2em;">1</span> 
				<i  class=" pull-right icon ion-ios-plus-outline" style="font-size:1.3em;"></i>
			</div>
		</div>

		</div>
	</div>
	</ion-content>
	</ion-view>