<ion-view ng-controller="CategoryDescCtrl" > <ion-content  style="margin-top:33px;margin-bottom:60px;">
<tab-slide-box scroll="false">
<div class="tsb-icons"  >
	<div class="tsb-ic-wrp item-divider" >
		<ion-scroll direction="x" class="tsb-hscroll" >
		<a style="font-size:1em;line-height:3em" href="javascript:;" class="{{tab.icon}}" ng-repeat="tab in tabs" on-finish-render="test()">{{tab.text}}</a>
	</ion-scroll>

</div>
</div>
<div>
<ion-slide-box>
<ion-slide>
<div class="list card" style="margin: 0">
	<div class="item item-body" style="padding: 0px" ng-repeat="product in productDetails track by $index">


		<div class="item"  ng-click="moveToScreen('addToppins')"
			style="background-color: ghostWhite; border-width: 0px; padding: 2px;">
			<img class="full-image" ng-src="img/soiWebs/soi5.jpg"  >
			<div class="row">
				<div class="col" style="text-align: left">
					<span class="ion-ionic" style="color: green;"></span>{{product.prodname}}

				</div>
				<div class="col" style="text-align: right; font-size: 14px">
					{{product.rate}}</div>
			</div>
			<div class="row">
				<div class="col"
					style="text-align: left; margin-left: 5%; font-size: 12px">
					<i><p>{{product.proddesc}}</p>
					</i>
				</div>
				<div class="col" style="text-align: right">
					<i class="pull-left icon ion-ios-minus-outline"
						style="font-size: 1.3em;"></i> <span style="font-size: 1.2em;">1</span>
					<i class=" pull-right icon ion-ios-plus-outline"
						style="font-size: 1.3em;"></i>
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="item item-body" style="padding: 0px">


		<div class="item"
			style="background-color: ghostWhite; border-width: 0px; padding: 2px;">
			<img class="full-image" src="img/PIZZA.png"  ng-click="moveToScreen('addToppins')">
			<div class="row">
				<div class="col" style="text-align: left">
					<span class="ion-ionic" style="color: green;"></span> Mparghretic
					Classic Pizza

				</div>
				<div class="col" style="text-align: right; font-size: 14px">
					RS.74</div>
			</div>
			<div class="row">
				<div class="col"
					style="text-align: left; margin-left: 5%; font-size: 12px">
					<i>Tomato pulp,Fresh Mozzerella<br> Basesl and mozzellz
					</i>
				</div>
				<div class="col" style="text-align: right">
					<i class="pull-left icon ion-ios-minus-outline"
						style="font-size: 1.3em;"></i> <span style="font-size: 1.2em;">1</span>
					<i class=" pull-right icon ion-ios-plus-outline"
						style="font-size: 1.3em;"></i>
				</div>
			</div>
		</div>
	</div> -->

</div>
</ion-slide>
</ion-slide-box>
</div>
</tab-slide-box>
</ion-content> 

</ion-view>

