<div class="header">
	<h4 style="text-align: center">{{event1}}</h4>
</div>
<div class="list" ng-if="event1=='Size'">
	<div class="item" style="border: 0px; padding: 7px;height:106px"
		ng-repeat="size in productSize  | orderBy:'sizerate'">
		<div class="row">
			<div class="col" style="margin-top: 20px">{{size.prodsize}}</div>
			<div class="col" style="text-align: right">
				Rs.{{size.sizerate}} <label class="checkbox" style="top: 16px"><input ng-value="size.prodsize"
					name="size" type="radio" ng-model="checked.size" ng-change="addPropertiesToProduct('Size',size.prodsize,size.sizerate,sizeChecked)"></label>
			</div>
		</div>
	</div>
	<div style="text-align: right">
		<button class="button button-clear"
			style="margin-top: 3%; background-color: greenyellow; color: green"
			ng-click="hidePopup('ok')">Ok</button>
	</div>
</div>
<div ng-if="event1=='Base'">
<div class="content" scroll="true" >
<div class="list">
	<div class="item" style="border: 0px; padding: 7px;height:106px"
		ng-repeat="base in productBase">
		<div class="row">
			<div class="col" style="margin-top: 20px">{{base.prodcrust}}</div>
			<div class="col" style="text-align: right">
				<span ng-if="base.crustrate>0">Rs.{{base.crustrate}} </span><label class="checkbox" style="top: 16px">
					<input type="radio" name="base" ng-model="checked.baseChecked" ng-value="base.prodcrust" 
					ng-change="addPropertiesToProduct('Base',base.prodcrust,base.crustrate,baseChecked)">
				</label>
			</div>
		</div>
	</div>
</div>
</div>
<ion-footer-bar style="background-position:bottom">
<div class="button-bar">
			<button class=" button button-small  button-clear"
				style="background-color: greenyellow; color: green; right: 3px"
				ng-click="hidePopup('reset')">RESET</button>
			<button class="button button-small button-clear"
				style="background-color: greenyellow; color: green;"
				ng-click="hidePopup('ok')">Ok</button>
		</div>
</ion-footer-bar>
</div>
<div ng-if="event1=='Toppins'">
<div class="content" scroll="true" >
	<div class="list">
		<div class="item" style="border: 0px; padding: 0px"
			ng-repeat="toppins in productToppins track by $index">
			<div class="row">
				<div class="col" style="margin-top: 20px">{{toppins.toppingname}}</div>
				<div class="col" style="text-align: right">
					Rs.{{toppins.toppingrate}}<label class="checkbox" style="top: 16px"><input
						type="checkbox" ng-model="toppinsChecked[toppins.toppingid].checked"  value="true"
						ng-change="addPropertiesToProduct('Toppins',toppins.toppingid,toppins,toppinsChecked[toppins.toppingid].checked)"></label>
				</div>
			</div>
		</div>
		<div style="text-align: right">
			
		</div>
	</div>
</div>
<ion-footer-bar style="background-position:bottom">
<div class="button-bar">
				<button class=" button button-medium button-clear"
					style="background-color: greenyellow; color: green; right: 3px"
					ng-click="hidePopup('clear')">CLEAR</button>
				<button class="button button-medium button-clear"
					style="background-color: greenyellow; color: green;"
					ng-click="hidePopup('ok')">Ok</button>
			</div>
</ion-footer-bar>
</div>


