<!-- <div class="bar bar-header item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Search">
  </label>
  <button class="button button-clear">
    Cancel
  </button>
</div> -->
<ion-view>
 <ion-content class="has-header">
 <div class="bar bar-header item-input-inset">
 <label class="item-input-wrapper" >
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input style="width:100%" type="text" id="autocomplete" class="form-control" ng-autocomplete ng-model="result1" />
     

  </label>
  <!-- <button class="button button-clear">
    Edit
  </button> -->
  </div>
              </ion-content>
      </ion-view>