<div class="header">
	<h4 style="text-align: center">Track Location</h4>
</div>

<div class="list">
	<div class="item"
		style="font-size: 76px; border: 0px; text-align: center;">
		<i class="ion-ios-location-outline"></i><br>
		<p style="font-weight: bold">Select Your Location</p>
	</div>
</div>
<ion-footer-bar>
<div class="button-bar">
	<button class=" button button-large button-clear"
		style="color: black; right: 3px; font-weight: bold;"
		ng-click="selectLocation('Manually')">Fill Manually</button>
	<button class="button button-large button-clear"
		style="font-weight: bold; color: black;"
		ng-click="selectLocation('Enable')">Enable GPS</button>
</div>
</ion-footer-bar>