<div class="header">
	<h3 style="text-align: center">Congratulations</h3>
</div>

<div class="list">
	<div class="item"
		style="font-size: 76px; border: 0px; text-align: center;">
		<p style="font-weight: bold;white-space: normal;">You are successfully Registered.
		Your e-wallet has been topped up with  Rs. 500
		</p>
	</div>
	<div style="text-align: center">
		<button class="button button-clear"
			style="margin-top: 3%; background-color: greenyellow; color: green"
			ng-click="closeRegisterPopup()">Ok</button>
	</div>
</div>