<!DOCTYPE html>
<html ng-app="foodApp">
<head>
<meta charset="utf-8">
<!-- <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'"> -->
<meta name="viewport"
	content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
<title></title>

<link href="lib/ionic/css/ionic.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/tabSlideBox.css" rel="stylesheet">
<!-- IF using Sass (run gulp sass first), then remove the CSS include above
    <link href="css/ionic.app.css" rel="stylesheet">
  -->

<!-- ionic/angularjs js -->
<script src="lib/ionic/js/ionic.bundle.js"></script>


<!-- for localStorage-->
<script src="lib/ngStorage.min.js"></script>
<script src="lib/ng-cordova.min.js"></script>

<!-- cordova script (this will be a 404 during development) -->
<script src="cordova.js"></script>

<!-- your app's js -->
<script src="js/app.js"></script>
<script src="js/services/localStorageService.js"></script>
<!-- <script src="js/services/locationService.js"></script> -->
<script src="js/services/CartService.js"></script>
<script src="js/controller/ParentCtrl.js"></script>
<script src="js/controller/ModalCtrl.js"></script>
<script src="js/controller/LoginCtrl.js"></script>
<script src="js/controller/AppCtrl.js"></script>
<script src="js/controller/CategoryCtrl.js"></script>
<script src="js/controller/SubCategoryCtrl.js"></script>
<script src="js/controller/CategoryDescCtrl.js"></script>
<script src="js/tabSlideBox.js"></script>
<script src="js/ionic.ion.imagecachefactory.js"></script>
 <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>

</head>

<body ng-controller="ParentCtrl">

	<ion-nav-view> <ion-nav-var class="bar-stable">
	
	<!-- header for expand search screen -->
	<ion-header-bar ng-if="searchBar" >
	<div class="item-input-inset" style="width:100%;">
		<i class="ion-chevron-left" style="font-size: 2.0em;"
			ng-click="expandSerachBar('back')"></i> <img src="img/logo.png"
			class="img-responsive soi-logo-header" />
			<span style="width:84%;">
			<label
			class="item-input-wrapper" > <i
			class="icon ion-ios-search placeholder-icon"></i> <input
			type="search" placeholder="Search">
			<button class="button button-clear ">
				<i class="ion-android-close" style="float:right;font-size: 1.6em;"></i></button>
				</label>
				</span> 
				</div>
		</ion-header-bar>
	
	<!-- header for registration/login screen -->
	<ion-header-bar class="bar-stable"
		ng-if="stateDetails.current.name=='login'"> <i><img
		src="img/logo.png" class="img-responsive soi-logo-header" /></i>
	<h1 class="title pull-left">Registration</h1>
	</ion-header-bar>
	
<!-- header for home screen              -->
	
	 <ion-header-bar class="bar-stable"
		ng-if="stateDetails.current.name!='login' && !searchBar"> <i
		ng-show="stateArray.length>0" class="ion-chevron-left"
		style="font-size: 1.8em;" ng-click="moveToBackScreen()"></i>
		<i ng-click="moveToBackScreen()"> <img
		src="img/logo.png" class="img-responsive soi-logo-header" /></i>
		<h1 class="title" style="display:table;">{{headerTitle.name}}</h1>
	<div style="margin-left:63%;">
		<span ng-click="expandSerachBar('front')"
		class="ion-android-search"
		style="font-size: 1.8em;margin-right:2px;"></span>
		<span
		class="ion-bag" style="font-size: 1.8em;" >
		<span ng-if="cartDetails.productCount>0" class="valcart">{{cartDetails.productCount}}</span>
		</span> 
		</div></ion-header-bar> 
		</ion-nav-bar> <ion-nav-view
		name="app-home" nav-view-transition="none" nav-view-direction="none">
	</ion-nav-view> <ion-footer-bar ng-if="stateDetails.current.name!='login'">
	<ion-tabs class="tabs-light  tabs-icon-top tabs-icon-only">
	<div ng-click="openFooterModel('order')">
	 <span ng-if="user.userStatus!=1 && cartDetails.amount>0" class="valcart-footer">{{cartDetails.amount}}</span>
	 <span ng-if="user.userStatus==1 && cartDetails.amount>0" class="valcart-footer" style="left:8px;">{{cartDetails.amount}}</span>
	<ion-tab title="ORDER" icon-on="ion-ios-cart" ng-click="openFooterModel('order')"
		icon-off="ion-ios-cart-outline">
		
		 </ion-tab> 
		</div>
		 <ion-tab title="DELIVERY"
		icon-on="ion-android-bicycle" icon-off="ion-android-bicycle">
	</ion-tab> <ion-tab title="REFERRAL" ng-click="openFooterModel('refferal')"
		ng-if="user!=undefined && user.userStatus==1"
		icon-on="ion-ios-compose" icon-off="ion-ios-compose-outline">
	</ion-tab> <ion-tab title="E-WALLET"
		ng-if="user!=undefined && user.userStatus==1"
		icon-on="ion-ios-briefcase" icon-off="ion-ios-briefcase-outline" ng-click="openFooterModel('wallet')">
	</ion-tab> <ion-tab title="LOGOUT" ng-if="user!=undefined && user.userStatus==1" icon-on="ion-power" icon-off="ion-power" ng-click="openFooterModel('logout')">
   </ion-tab> </ion-tabs> </ion-footer-bar></ion-nav-view>
</body>
</html>
