.login-bg-img{
/*  background: url("../img/salad.JPG") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  //  background-size: cover;*/
  background: url("../img/testback.jpg");
  background-size: 100% 100% !important;
  background-position: center center fixed;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display:block;max-width:100%;height:auto;


}

.banner-heading{
	position: absolute;
	 top: 2%;
	 width: 100%;
}

.modal-has-header{
	margin-top:44px;
	max-height:83%;
}

.img-responsive-banner{
  display:block;width:100%;height: 35%;
}


.img-responsive{

    display: block;
   height: auto;
  max-width: 100%;
}

.center-align{
  text-align: center
}
.full-width{
  width:95%;
}

.bar-subheader {
  top: 44px;
  display: block;
  height: 0px;
  padding:0px;
}
.scroll {
  height: 100%;
}
#form{
  position: fixed;
  top: 53%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center-form{
  position: fixed;
  top: 59%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#rgister_form{
  position: fixed;
  top: 54%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.padding{
  text-align: center;
}
.button{
  background-color: #0080a8;
  border-radius: 5px;
  color: #90d8ef;
  border-color: #90d8ef;
  width: 40%;
}

.help-block{
  font-weight: bold;
  color: red;
}
.help-block-match{
  font-weight: bold;
  color: green;
}
.help-block-notMatch{
  font-weight: bold;
  color: red;
}
.soi-logo-header{
 width: 32px;
 height: 33px;
 margin-left: 10px;
}

.footer-margin{
	margin-bottom: 44px;
}

.tabs .tab-item .icon.mcfly {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 100%;
  background-image: url('/img/ordericon.png');
  background-size:contain;
}




.popup-container .popup {
  width: 94%;
  /* height: 242px; */
  max-width: 100%;
  max-height: 80%;
  border-radius: 0px;
  background-color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.home-serach-button{
  margin-left: 80%;
  margin-top: 1%;
}

.spinner svg {
  width: 19% !important;
  height: 15% !important
}

.loading-container .loading {
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 15px;
}

.label-item{
  background-color:white;
  margin-top:2%;
  border:0px;
}
.input-item{
  background-color: white;
  border-style: none;
}
.list-item{
  color: #444;
  position: relative;
  z-index: 2;
  display: block;
  padding:0px;
  margin: 2%;
  background-color:none;
  border-style: none;
}

.popup-head {
  padding: 12px 0px;
  border-bottom: none;
  text-align: center;
}

.slider-slide h3{
      color:#fff;
      margin-top:10px;
    }
    .scroll{
      height:100%;
    }
    
    .tabbed-slidebox .tsbs-icons:after{
      display:none;
    }

.valcart {
	background: #f14f3b none repeat scroll 0 0;
	border-radius: 100%;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	height: 17px;
	line-height: 4px;
	padding: 6px 4px;
	position: absolute;
	right: 16px;
	text-align: center;
	top: 5px;
	width: 20px;
	z-index: 1;
}
.valcart-footer {
	background:green;
	border-radius: 100%;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	height: 17px;
	line-height: 4px;
	padding: 6px 4px;
	position: absolute;
	left:35px;
	text-align: center;
	top: 0px;
	width: auto;
	z-index: 1;
}