.login-bg-img{
/*	background: url("../img/salad.JPG") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
  //	background-size: cover;*/
  background: url("../img/bakBlur.JPG");
  background-size: 100% 100% !important;
  background-position: center center fixed;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display:block;max-width:100%;height:auto;


}


.img-responsive-banner{
  display:block;width:100%;max-height: 40%;
}


.img-responsive{display:block;max-width:100%;height:auto}
.center-align{
	text-align: center
}
.full-width{
	width:95%;
}

.bar-subheader {
	top: 44px;
	display: block;
	height: 34%;
}
.scroll {
	height: 100%;
}
#form{
	position: fixed;
	top: 59%;
	left: 50%;
	width: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#rgister_form{
  position: fixed;
  top: 54%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.padding{
	text-align: center;
}
.button{
	background-color: #0080a8;
	border-radius: 5px;
	color: #90d8ef;
	border-color: #90d8ef;
	width: 40%;
}

.help-block{
  font-weight: bold;
  color: red;
}
.help-block-match{
  font-weight: bold;
  color: green;
}
.help-block-notMatch{
  font-weight: bold;
  color: red;
}
.soi-logo-header{
 width: 32px;
 height: 33px;
 margin-left: 5px;
}

.popup-container .popup {
  width: 94%;
  /* height: 242px; */
  max-width: 100%;
  max-height: 89%;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0.9);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.home-serach-button{
  margin-left: 80%;
  margin-top: 1%;
}